<h2>Visualizacion</h2>
<table class="table table-striped table-hover ">
  <thead> 
    <tr class="success" align="center"> 
      <td>Nombre</td> 
      <td>Descripcion</td> 
      <td>Cantidad total de calorias</td> 
    </tr>
    <tr class="active" align="center">
      <td>Desayuno</td>
      <td>45 min despues de despertar</td>
      <td>500</td>
    </tr>
    <tr class="active" align="center">
      <td>Colacion1</td>
      <td>entre desayuno y comida</td>
      <td>100</td>
    </tr>
    <tr class="active" align="center">
      <td>Comida</td>
      <td>comida de medio dia</td>
      <td>600</td>
    </tr>
    <tr class="active" align="center">
      <td>colacion 2</td>
      <td>entre comida y cena</td>
      <td>100</td>
    </tr>
    <tr class="active" align="center">
      <td>Cena</td>
      <td>1hora antes de dormir</td>
      <td>100</td>
    </tr>
 </thead>
</table>
{{outlet}}
