<h2>Registrar</h2>
<div class="well bs-component">
<form class="form-horizontal">
  <fieldset>
   <div class="form-group">
     <label class="control-label" for="focusedInput">Nombre</label>
     <input class="form-control" id="focusedInput" value="Nombre..." type="text">
   </div>
   <div class="form-group">
     <label class="control-label" for="focusedInput">Descripcion</label>
     <input class="form-control" id="focusedInput" value="Descripcion..." type="text">
   </div>
   <div class="form-group">
     <label class="control-label" for="focusedInput">Unidad</label>
     <input class="form-control" id="focusedInput" value="pza,Kg,grs..." type="text">
   </div>
   <div class="form-group">
     <label class="control-label" for="focusedInput">Cantidad</label>
     <input class="form-control" id="focusedInput" value="Cantidad..." type="text">
   </div>
   <div class="form-group">
     <label class="control-label" for="focusedInput">Calorias</label>
     <input class="form-control" id="focusedInput" value="Calorias..." type="text">
   </div>
    <div class="form-group">
      <div class="col-lg-10">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>

{{outlet}}
