<h2>Visualizacion</h2>
<table class="table table-striped table-hover ">
  <thead> 
    <tr class="success" align="center">
      <td>Nombre</td> 
      <td>Descripcion</td> 
      <td>Unidad</td> 
      <td>Cantidad</td>
      <td>Calorias</td>
    </tr>
    <tr class="active" align="center">
      <td>fresa</td>
      <td>na</td>
      <td>pza</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr class="active" align="center">
      <td>manzana</td>
      <td>na</td>
      <td>pza</td>
      <td>1</td>
      <td>100</td>
    </tr>
    <tr class="active" align="center">
      <td>platano</td>
      <td>na</td>
      <td>pza</td>
      <td>1</td>
      <td>200</td>
    </tr>
    <tr class="active" align="center">
      <td>Pera</td>
      <td>na</td>
      <td>pza</td>
      <td>1</td>
      <td>100</td>
    </tr>
    <tr class="active" align="center">
      <td>almendra</td>
      <td>na</td>
      <td>pza</td>
      <td>10</td>
      <td>60</td>
    </tr>
   </thead>
</table>

{{outlet}}
