<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Lettuce</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="diets/show">Dietas <span class="sr-only">(current)</span></a></li>
        <li><a href="foods/show">Alimentos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="foods/add">Agregar Alimentos</a></li>
            <li><a href="foods/edit">Editar Alimentos</a></li>
            <li class="divider"></li>
            <li><a href="diets/add">Agregar Dietas</a></li>
            <li><a href="diets/edit">Editar Dietas</a></li>
            <li class="divider"></li>
            <li><a href="groups/add">Agregar grupos de alimentos</a></li>
            <li><a href="groups/edit">Editar grupos de alimentos </a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>
{{outlet}}
